<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Hi There !!</h1>
        <h3>Let's go ahead</h3>
        <span><h3>If You'have already connected!!</h3>&NonBreakingSpace;<button><a href="{% url 'signup' %}" style="text-decoration: none;">signup</a></button></span>
        <br>
        <br>
        <span><h3>If You Don't have an Account</h3>&NonBreakingSpace;<button><a href="{% url 'signin' %}" style="text-decoration: none;">signup</a></button></span>
        
    </center>
</body>
</html>